<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="/img/spotify-slack-icon.png" type="image/png" sizes="32x32">

  <title>Support - SpotMyStatus</title>

  <!-- Bootstrap core CSS -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"/>
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" th:href="@{/vendor/fontawesome-free/css/all.min.css}"/>
  <link href="/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css"
        th:href="@{/vendor/simple-line-icons/css/simple-line-icons.css}"/>

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="/css/landing-page.min.css" rel="stylesheet" th:href="@{/css/landing-page.min.css}"/>

</head>

<body>

<!-- navigator -->
<div id="tabs_navbar">
</div>

<!-- Masthead -->
<header class="masthead text-white">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div id="successMessage" class="alert alert-success" role="alert" th:if="${formResult} == 'success'">
         Submission successful!
        </div>
        <div id="failMessage" class="alert alert-danger" role="alert"  th:if="${formResult} == 'fail'">
          Something went wrong. Please try again
        </div>
        <div class="well well-sm">
          <form class="form-horizontal" action="/support" method="post">
            <fieldset>
              <legend class="text-center">Contact us</legend>

              <!-- Name input-->
              <div class="form-group">
                <div class="col-md-9">
                  <input id="name" name="name" type="text" placeholder="Your name" class="form-control">
                </div>
              </div>

              <!-- Email input-->
              <div class="form-group">
                <div class="col-md-9">
                  <input id="email" name="email" type="email" placeholder="Your email" class="form-control">
                </div>
              </div>

              <!-- Message body -->
              <div class="form-group">
                <div class="col-md-9">
                  <select id="subject" name="subject" class="form-control" required="required">
                    <option disabled selected value style="display:none"> -- select the subject --</option>
                    <option value="General Support">General Support</option>
                    <option value="Suggestions">Suggestions</option>
                    <option value="Bug Report">Bug Report</option>
                  </select>
                </div>
              </div>

              <!-- Message body -->
              <div class="form-group">
                <div class="col-md-9">
                  <textarea required="required" class="form-control" id="message" name="message" placeholder="Please enter your message here..."
                            rows="5"></textarea>
                </div>
              </div>

              <!-- Form actions -->
              <div class="form-group">
                <div class="col-md-12">
                  <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Footer -->
<div id="footer">
</div>

<!-- Bootstrap core JavaScript -->
<script src="/vendor/jquery/jquery.min.js" th:href="@{/vendor/jquery/jquery.min.js}"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js" th:href="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script type="text/javascript">
  $(function () {
    $("#tabs_navbar").load("/navbar.html");
    $("#footer").load("/footer.html");
  });
</script>
</body>

</html>
