Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Access:
          type: S3
          roleName: aws-elasticbeanstalk-ec2-role
          buckets:
              "Fn::GetOptionSetting":
                Namespace: "aws:elasticbeanstalk:application:environment"
                OptionName: "S3_BUCKET_NAME"
  sslSecurityGroupIngress:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: {"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}
      IpProtocol: tcp
      ToPort: 443
      FromPort: 443
      CidrIp: 0.0.0.0/0

files:
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    source: '`{"Fn::GetOptionSetting": {"Namespace": "aws:elasticbeanstalk:application:environment", "OptionName": "S3_CERTIFICATES_URI"}}`/server.crt'
    authentication: S3Access

  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    source: '`{"Fn::GetOptionSetting": {"Namespace": "aws:elasticbeanstalk:application:environment", "OptionName": "S3_CERTIFICATES_URI"}}`/server.key'
    authentication: S3Access

  /etc/pki/tls/certs/chain.pem:
    mode: "000400"
    owner: root
    group: root
    source: '`{"Fn::GetOptionSetting": {"Namespace": "aws:elasticbeanstalk:application:environment", "OptionName": "S3_CERTIFICATES_URI"}}`/server.pem'
    authentication: S3Access
