Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Access:
          type: S3
          roleName: aws-elasticbeanstalk-ec2-role
          buckets: "elasticbeanstalk-eu-central-1-682739321463"
  sslSecurityGroupIngress:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: {"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}
      IpProtocol: tcp
      ToPort: 443
      FromPort: 443
      CidrIp: 0.0.0.0/0

files:
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    source: 'https://elasticbeanstalk-eu-central-1-682739321463.s3.eu-central-1.amazonaws.com/certificates/server.crt'
    authentication: S3Access

  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    source: 'https://elasticbeanstalk-eu-central-1-682739321463.s3.eu-central-1.amazonaws.com/certificates/server.key'
    authentication: S3Access

  /etc/pki/tls/certs/chain.pem:
    mode: "000400"
    owner: root
    group: root
    source: 'https://elasticbeanstalk-eu-central-1-682739321463.s3.eu-central-1.amazonaws.com/certificates/server.pem'
    authentication: S3Access

container_commands:
  01restart_nginx:
    command: "service nginx restart"