body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

html, header, body {
  margin: 0;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

header.masthead {
  position: relative;
  background-color: #343a40;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/bg-mouse.jpg");
  background-size: cover;
  padding-top: 18rem;
  padding-bottom: 18rem;
}

header.masthead-fail {
  position: relative;
  background-color: #343a40;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/bg-mouse-shocked.jpg");
  background-attachment: fixed;
  background-size: cover;
  padding-top: 18rem;
  padding-bottom: 18rem;
}

header.masthead .overlay, header.masthead-fail .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

header.masthead h1, header.masthead-fail h1 {
  font-size: 2rem;
}

@media (min-width: 768px) {
  header.masthead, header.masthead-fail {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }
  header.masthead h1, header.masthead-fail h1 {
    font-size: 3rem;
  }
}

.features-icons .features-icons-item {
  max-width: 20rem;
}

.features-icons .features-icons-item .features-icons-icon {
  height: 7rem;
}

.features-icons .features-icons-item .features-icons-icon i {
  font-size: 4.5rem;
}

.features-icons .features-icons-item:hover .features-icons-icon i {
  font-size: 5rem;
}

.testimonials {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.testimonials .testimonial-item {
  max-width: 18rem;
}

.testimonials .testimonial-item img {
  max-width: 12rem;
  box-shadow: 0px 5px 5px 0px #adb5bd;
}

.round-button {
  box-sizing: border-box;
  display:inline-grid;
  width:120px;
  height:120px;
  padding-top: 8px;
  padding-left: 8px;
  line-height: 20px;
  border-radius: 50%;
  color:#f5f5f5;
  background: url("../img/play-button.png") no-repeat center center;
  background-size:cover;
  transition: all 0.3s ease;
  max-width: 100%;
}
.round-button:hover {
  transform: scale(1.2);
  background-size: 120% 120%;
}

.spotify-slack {
  width:30%;
  height:30%;
  background-size:cover;
}

.footer a {
  color:#f5f5f5;
  text-decoration-line: underline;
}