name: Java CI with Gradle for master branch

on:
  push:
    branches:
      - master

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Inject Slack App id
        uses: jacobtomlinson/gha-find-replace@v2
        with:
          find: "SLACK_APP_ID"
          replace: "${{ secrets.SLACK_APP_ID }}"
          regex: false
          include: "frontend/index.html"
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11.0.4
      - name: Cache Gradle packages
        uses: actions/cache@v2
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
          restore-keys: ${{ runner.os }}-gradle
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Build with Gradle
        run: ./gradlew build
      - name: Read baseVersion from gradle.properties
        id: read_artifact_version
        uses: christian-draeger/read-properties@1.0.1
        with:
          path: './gradle.properties'
          property: 'baseVersion'

      - name: Generate deployment package
        run: zip -j spotmystatus.zip backend/build/libs/spotmystatus-${{ steps.read_artifact_version.outputs.value }}.jar backend/Procfile && cd backend && zip -r ../spotmystatus.zip .ebextensions .platform
      - name: Deploy to AWS Beanstalk
        uses: einaregilsson/beanstalk-deploy@v13
        with:
          aws_access_key: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws_secret_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          application_name: SpotMyStatus
          environment_name: ${{ secrets.BEANSTALK_ENV_NAME }}
          version_label: ${{ steps.read_artifact_version.outputs.value }}-${{ github.run_id }}-${{ github.run_number }}
          use_existing_version_if_available: false
          wait_for_environment_recovery: 180
          region: eu-central-1
          deployment_package: spotmystatus.zip
